<html>  
    <head>
        <title>Open Weather</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <%- include("header") %> 

        <h1 style="text-align: center">About</h1>        
        <div id="box">
            <p>
                Open Weather is a web application that allows users to search for weather data by zip code. The application uses the 
                Open Weather Map API to retrieve weather data. On the server-side the technologies used were Node.js, Express, and MongoDB.
                For the front-end I used EJS and CSS. And <i>of course</i>, JavaScript is used for both the front-end and the back-end. 
                And, for what it's worth, it is <b><i>so</i> nice</b> to be able to use the same language for both. ♥²
            </p>
    </body>
</html>
